<h1>Welcome to your profile Page</h1>

{{!-- {{#if session.currentUser}}
  <h2>Welcome, {{ session.currentUser.email }}!</h2>
  <p>This is your profile page my friend!</p>
{{else}}
  <p>Still no logged in user, sorry!</p>
{{/if}} --}}