body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

nav {
  text-align: center;
}

nav form {
  display: inline-block;
}

.warning {
  border: 1px solid rgb(167, 111, 9);
  background-color: rgb(235, 212, 170);
  padding: 1rem;
}